html, body {
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 auto;
    padding: 0;
    width: 600px;
}

.page-header {
    border-bottom: 1px solid #222;
    margin-bottom: 10px;
}

.page-header h1 {
    font-family: Gadget, "Arial Black", sans-serif;
    margin-bottom: 5px;
}

.page-header p { margin: 0; }

.content {
    clear: both;
    border-radius: 10px;
    background-color: #EEE;
    margin-top: 10px;
    padding: 10px 10px 5px;
}

.content h2, .content h3 {
    margin: 0 0 5px;
}

footer {
    width: 600px;
    height: 60px;
    margin-top: 5px;
    padding: 10px 10px 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #DDD;
}


#favorite-activity-comments {
    border-top:1px solid #EEEEEE;
}

#favorite-activity-comments dl {
    width: 600px;
}

#favorite-activity-comments dt#new, #favorite-activity-comments dd#new {
    background: #F00;
    transition: background 0.3s ease-in-out;
}

#favorite-activity-comments dt {
    float: left;
    clear: both;
    width: 60px;
    padding-top: 10px;
    transition: background 0.3s ease-in-out;
}
#favorite-activity-comments dd {
    float: left;
    width: 500px;
    margin-left: 0;
    padding-top: 10px;
    transition: background 0.3s ease-in-out;
}
